<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
    <input type="text" id="tui-date-picker-target" aria-label="Date-Time">
    <span class="tui-ico-date"></span>
</div>
<div id="tui-date-picker-container" style="margin-top: -1px;"></div>
