- var inputFields = [{inputName:'forename', inputValue:'', inputRequired:'true', inputPlaceholder:'forename', inputType:'text', patternMessage: 'Value should have at least 1 and maximum 100 characters.', inputLabel: 'Forename', inputPattern: '^[a-zA-Z.]{1,100}$'}, {inputName:'surname', inputValue:'', inputRequired:'true', inputPlaceholder:'surename', inputPattern: '^[a-zA-Z.]{1,100}$', patternMessage: 'Value should have at least 1 and maximum 100 characters.', inputType:'text', inputLabel: 'Surname'}, {inputName:'email', halfWidth: true, inputValue:'', inputRequired: 'true', patternMessage: 'Please provide email address in proper format.', inputPlaceholder:'E-mail', inputType:'email', inputLabel: 'E-mail', inputPattern: '[^@]+@[^\.]+\..+' }, {inputName:'verify_email', halfWidth: true, patternMessage: 'Please provide email address in proper format.', inputValue:'', inputRequired: 'true', inputPlaceholder:'Verify E-mail', inputType:'email', inputLabel: 'Verify Email', inputPattern: '[^@]+@[^\.]+\..+'}, {inputName:'password', inputValue:'', inputRequired: 'true', inputPlaceholder:'Password', inputType:'password', inputLabel: 'Password', inputPattern: '^[a-zA-Z.]{7,25}$', patternMessage: 'Value should have at least 7 and maximum 25 characters.'}]
- var dropdownField = { dropdownName: 'sex', dropdownValue: 'male', dropdownLabel: 'Sex', dropdownOptions: [{ name: 'male', label: 'Male'}, { name: 'female', label: 'Female'}]}

- var dateField = {inputName:'dateofbirth', inputValue:'', inputRequired:'true', inputPlaceholder:'Pick a date', inputType:'date', inputLabel: 'Date of birth'}

doctype html
html(lang='en')
  head
    title Register Page
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='assets/img/favicons/favicon.ico', rel='shortcut icon')
    link(href='./assets/css/main.css', rel='stylesheet')
    <script src="https://raw.githack.com/zloirock/core-js/v2.0.3/client/core.min.js"></script>
    <!--[if IE 8]><script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.8.0/ie8.js"></script><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-sham.min.js"></script>
    <script src="https://wzrd.in/standalone/es7-shim@latest"></script>
    <script src="https://raw.githubusercontent.com/yola/classlist-polyfill/master/src/index.js"></script>
    <script src="https://raw.githubusercontent.com/jcgertig/date-input-polyfill/master/date-input-polyfill.dist.js"></script>
    <script src="https://raw.githubusercontent.com/WebReflection/ie8/master/build/ie8.max.js"></script>
  body
    include ../no-pug/header.pug
    include ../no-pug/breadcrumbs.pug
    main
      section
        header
          div(class='title')
            h1 Register
            h2 Create an account and get started today.

        form(name='register_form' class="register-form" data-init='register-container' novalidate)
          each inputField in inputFields
            if (inputField.halfWidth)
              div(class="half-width")
                include ../no-pug/form-input.pug
            else
              include ../no-pug/form-input.pug
          include ../no-pug/form-dropdown.pug
          include ../no-pug/form-datepicker.pug
          button(type='submit' class='right' disabled="disabled") Register
          <script> var exports = {}; </script>
        div(class="login-section")
          a(href='/') Enter login page
        script(src='./assets/js/main.js')
        <script>new RegisterContainer();</script>
